.cardbox{
    display: flex;
    line-height: 1;
    min-height: 200px;
}
.card{
    padding: 20px;
    margin: 10px 15px;
    transition: all .3s ease-in;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
}
.rate{
    color: #000;
    font-weight: 600;
}
.thumbnail{
    width: 150px;
    border-radius: 20px;
}
.movie-name{
    /* text-align: center; */
    font-weight: 600;
}
.movie-date{
    /* text-align: center; */
    color: #777;
}
.category{
    display: flex;
    
}
.sort{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    margin-left: 20px;
    font-weight: 600;
}
.sort li{
    list-style-type: none;
    cursor: pointer;
    padding: 10px 20px;
    background: orange;
}
#series, #week,#series-week{
    display: none;
}
.lazyload{
    background-image: linear-gradient(to left bottom ,rgb(165, 162, 162),rgb(165, 162, 162) );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
    border-radius: 20px;
    
}
.lazy-load-container{
    display: flex;
    overflow-x: scroll;
}
.buffer{
    animation: lazyLoad .9s infinite ease-in;
}
@keyframes lazyLoad {
    0%{
        background-image: linear-gradient(to top left ,rgba(141, 141, 141, 0.267),rgba(134, 134, 134, 0.288) );
    }
    30%{
        background-image: linear-gradient(to left bottom ,rgba(177, 177, 177, 0.355),rgba(158, 158, 158, 0.355) );
    }
    60%{
        background-image: linear-gradient(to bottom right,rgba(177, 177, 177, 0.355),rgba(158, 158, 158, 0.355) );
    }
    80%{
        background-image: linear-gradient(to right top ,rgba(177, 177, 177, 0.355),rgba(158, 158, 158, 0.355) );
    }
    100%{
        background-image: linear-gradient(to top left ,rgba(177, 177, 177, 0.355),rgba(158, 158, 158, 0.355) );
    }
   
}
.scroll{
    overflow-x: scroll;
    overflow-y: hidden;
}