.cardbox{
    display: flex;
    line-height: 1;
}
.card{
    margin: 10px 15px;
    transition: all .3s ease-in;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
}
.rate{
    text-align: center;
    color: #000;
    font-weight: 600;
}
.thumbnail{
    width: 150px;
    border-radius: 20px;
}
.movie-name{
    text-align: center;
    font-weight: 600;
}
.movie-date{
    text-align: center;
    color: #777;
}