.overview-box{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 40px 10px;
    color: #eeeeee;
    line-height: 1.5;
    font-size: 18px;
}
.back{
    color: #eee;
    cursor: pointer;
}
.thumbnail-box{
    min-height: 200px;
    padding: 10px 70px;
    text-align: center;
}
.thumbnail-details{
    width: 300px;
    border-radius: 30px;
}
.overview-details{
    text-align: left;
    padding: 2px 20px;
}
.watch-trailer{
    font-size: 20px;
    color:rgb(224, 224, 224);
}
.watch-trailer:hover{
    color:rgb(196, 196, 196);
}
.mute-text{
    color: #777;
}
@media (max-width: 768px){
    .overview-box{
        flex-wrap: wrap;
    }
    .thumbnail-details{
        width: 70%;
    }
}
@media(min-width: 768px){
    .overview-box{
        display: flex;
        
    }
    
}